$color-white: #f8f8f8;
$color-black: #0a181f;
$color-grey: #b7b7b7;
$color-grey-light: #ebebeb;

$color-orange-light: #ff6600;
$color-orange-dark: #e76a0d;
$color-yellow-rating: #f2ceae;
$color-yellow-price: #f39d36;
$color-green-light: #208b77;
$color-green-dark: #177269;
$color-red: #f2594b;
$color-blue: #0645f3;
// Responsive Breakpoints

$bp-huge: 115em; // 1800px+
$bp-extra-large: 93.75em; // 1500px
$bp-largest: 84em; // 1350px
$bp-larger: 75em; // 1200px
$bp-large: 68.75em; //1100px
$bp-medium: 59.5em; // 950px
$bp-low-medium: 50em; // 800px
$bp-small: 37.5em; // 600px
$bp-smallest: 28em; // 450px
